*.deb
.env
venv/
build/
dist/
*.exe
*.msi
*.wixobj
*.wixpdb
*.wixlib
*.zip
License.rtf
Kamiwaza_Installer.zip
windows_installer.spec
kamiwaza_installer.spec
*.log
*.log.*
*.spec
kamiwaza_cert.pfx
embedded_python/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
nul
*.backup
embedded_python/
kamiwaza_headless_installer_template.py.backup